.gradle/
.idea/
.DS_Store
**/build/
local.properties
app/google-services.json
keystore.properties
*.jks
*.keystore
*.apk
*.apk.idsig
!downloads/hylink-dev-1.6.4.apk
!downloads/hylink-dev-1.6.5.apk
*.aab
.playwright-cli/
output/
